################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs/PuzzleWorker
/obj
/Properties/PublishProfiles
/appsettings.Development.json
